.row{
    margin: 10px;
    display: block;
}

.box{
    width: 300px;
}

.input-field{
    width: 280px;
}

.box button{
    width: 100%;
}

/*desktop*/
@media only screen and (min-width: 768px){

    .box{
        width: 720px ;
    }

    .row{
        margin: 18px 0;
        display: flex;
    }

    .input-field{
        width: 340px;
    }

    .left{
        margin-right: 40px;
    }


}


